
### Wallpaper: ###
# - Path to wallpaper

set $lockScreenWallpaper /home/frozen_owl/wallpaper.png

### Applications: ###

set $preferredTerminalEmulator /usr/bin/kitty
set $preferredBrowser /usr/bin/brave
set $preferredFileManager /usr/bin/thunar
set $preferredMailClient /usr/bin/geary
set $preferredTextEditor /usr/bin/geany
set $preferredScreenCaptureTool /usr/bin/flameshot gui
